.container-photo-detail {
  margin-top: 25rem;
  margin-bottom: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container-photo-name {
    margin-bottom: 2rem;
    h1 {
      font-size: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  .container-photo-img {
    margin-bottom: 5rem;
    padding: 0.5rem;
    box-shadow: var(--shadow);
    img {
      margin-bottom: -0.4rem;
    }
  }
  .container-user {
    display: flex;
    margin-bottom: 3rem;
    .container-user-img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.5rem;
      height: 5.2rem;
      width: 5.2rem;
      box-shadow: var(--shadow);
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        height: 5.2rem;
        width: 5.2rem;
        background-color: var(--tertiary);
        transition: all 0.2s;
      }
      img {
        border-radius: 2.5rem;
        height: 5.1rem;
        width: 5rem;
      }
    }
    .container-user-name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      cursor: pointer;
      transition: all 0.2s;
      p:hover {
        color: var(--secondary);
        transition: all 0.2s;
      }
    }
  }

  .container-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 48rem;
    margin-bottom: 5rem;
    p {
      padding: 2rem;
      font-family: var(--form);
    }
  }
  .container-button {
    width: 32rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
