main {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 20rem;
    margin-bottom: 20rem;
    max-width: 70rem;
    width: 100%;
    padding: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      margin-bottom: 5rem;
    }
    .container-name-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
    }
    .container-edit-photo {
      margin-bottom: 4rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding: 1rem;
        box-shadow: var(--shadow);
      }
    }
    .form-group {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      input {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      select {
        height: 4rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--divider);
        padding: 0.5rem;
        outline: none;
        border-radius: 0.3rem;
        font-family: var(--basic);
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-category {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      .container-name-category {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        justify-content: space-evenly;
        margin-top: 1rem;
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .container-photographer-label-img {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 2rem;
      .container-photographer-laber {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .container-photographer-img {
        img {
          width: 22rem;
          height: 14rem;
          margin-right: 8rem;
          padding: 0.5rem;
          box-shadow: var(--shadow);
        }
      }
    }
    textarea {
      height: 25rem;
      padding: 1rem;
      letter-spacing: 0.1rem;
      resize: none;
    }
    .form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .button {
        margin-left: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}

#text-info-category {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}

.form-title-category {
  font-size: 1.8rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 1rem;
}

#text-info-picture {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1.5rem;
}

#text-info-content {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1rem;
}

#text-info {
  color: var(--danger);
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.text-danger {
  color: var(--danger);
}
