footer {
  grid-area: footer;
  height: 13rem;
  background-color: var(--footer);
  color: var(--light);
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15rem;
  img {
    height: 1.6rem;
    width: 1.6rem;
    margin-bottom: -0.1rem;
  }
  .j {
    font-family: var(--logo);
    color: var(--je);
  }

  .e {
    font-family: var(--logo);
    color: var(--je);
  }
}
