@use "../partials/media-queries.scss" as *;

header {
  grid-area: header;
  align-items: center;
  background: var(--primary);
  position: fixed;
  z-index: 1;
  width: 100%;
  .container-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    a {
      color: var(--light);
      font-weight: 700;
      letter-spacing: 0.1rem;
    }
    .header-brand {
      font-weight: 700;
      &:hover {
        color: var(--tertiary);
      }
    }
  }

  .header-menu {
    position: relative;
    ul {
      @include phone {
        display: none;
      }
      display: flex;
      margin-right: -0.5rem;
      li {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
          background-color: var(--secondary);
          a {
            color: var(--light);
          }
        }
        a {
          font-size: 1.2rem;
          border-radius: 0.2rem;
        }
      }
      .active {
        background-color: var(--light);
        border-radius: 0.2rem;
        a {
          color: var(--secondary);
        }
      }
    }
  }

  .header-menu-icon {
    display: none;
    font-size: 2rem;
    color: var(--light);
    @include phone {
      display: block;
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: -2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    ul {
      display: block;
      li {
        margin: 1rem 2rem;
      }
    }
  }
  .mobile-menu.open {
    display: block;
  }
}
