header {
  grid-area: header;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  a {
    color: var(--light);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .header-brand {
    font-size: 3rem;
    font-weight: 700;
    &:hover {
      color: var(--tertiary);
    }
  }

  ul {
    display: flex;
    margin-right: -0.5rem;
    li {
      padding: 1rem;
      margin-right: 1rem;
      font-size: 1.5rem;
      &:hover {
        transition: all 0.2s;
        cursor: pointer;
        background-color: var(--secondary);
        border-radius: 0.2rem;
        padding: 1rem;
        a {
          color: var(--light);
        }
      }
      .header-brand {
        font-size: 1.8rem;
        padding: 0 0.1rem;
      }
    }
    .active {
      background-color: var(--light);
      padding: 1rem;
      border-radius: 0.2rem;
      a {
        color: var(--secondary);
      }
    }
  }
}
