@use "../partials/media-queries.scss" as *;

header {
  grid-area: header;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  position: fixed;
  z-index: 1;
  width: 100%;
  a {
    color: var(--light);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .header-brand {
    font-size: 3rem;
    font-weight: 700;
    &:hover {
      color: var(--tertiary);
    }
  }

  .header-menu {
    position: relative;
    ul {
      @include phone {
        display: none;
      }
      display: flex;
      margin-right: -0.5rem;
      li {
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 1rem 2rem 1rem 2rem;
          font-size: 1.5rem;
          border-radius: 0.2rem;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            transition: all 0.2s;
            background-color: var(--secondary);
            color: var(--light);
          }
          .header-brand {
            font-size: 1.8rem;
            padding: 0 0.1rem;
          }
        }
      }
      .active {
        background-color: var(--light);
        border-radius: 0.2rem;
        a {
          color: var(--secondary);
        }
      }
    }
  }
  .header-menu-icon {
    display: none;
    font-size: 3rem;
    color: var(--light);
    @include phone {
      display: block;
    }
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 5.7rem;
    right: -2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    ul {
      display: block;
      li {
        margin: 1rem 2rem;
      }
    }
  }
  .mobile-menu.open {
    display: block;
  }
}
