.header-nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 20rem;
    margin-bottom: 20rem;
    max-width: 70rem;
    width: 100%;
    padding: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
    }
    .form-group {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      #container-photo-label-img {
        display: flex;
        justify-content: space-between;
        #container-photo-label {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        #container-photo-img {
          img {
            padding: 0.5rem;
            box-shadow: var(--shadow);
          }
        }
      }
      label,
      #div-content {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      input {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      select {
        height: 4rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--divider);
        padding: 0.5rem;
        outline: none;
        border-radius: 0.3rem;
        font-family: var(--basic);
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-category {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      .container-name-category {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        justify-content: space-evenly;
        margin-top: 1rem;
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    textarea {
      height: 12rem;
      padding: 1rem;
      letter-spacing: 0.1rem;
      resize: none;
      font-family: var(--form);
    }
    .form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .button {
        margin-left: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}

// js start //
#shallow-content-value {
  margin-top: 1rem;
  border: 0.1rem solid var(--dark);
  border-radius: 0.25rem;
  height: 12rem;
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.1rem;
  p {
    font-family: var(--form);
    font-size: 1.3rem;
    span {
      font-style: italic;
      font-size: 1.2 rem;
      font-weight: bold;
      color: var(--primary);
    }
  }
}
.content-note {
  height: 15rem;
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.1rem;
  resize: none;
  font-family: var(--form);
  font-weight: 100;
}

.input-category-definition {
  font-style: italic;
  font-weight: bold;
  span {
    color: var(--primary);
  }
}

.text-definition-guide,
.text-definition-quete,
.text-definition-collection,
.text-definition-partage {
  font-weight: bold;
  color: var(--primary);
}

.text-definition-padding {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.width-select-photographer {
  width: 31.5rem;
  margin-bottom: 1rem;
}
// js end //

#container-photographer {
  margin-bottom: 5rem;
  #container-photographer-label-img {
    display: flex;
    flex-direction: column;
    #container-photographer-label {
      display: flex;
      justify-content: space-between;
      label {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    #container-img-description-photographer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      #container-description-photographer {
        width: 30rem;
        padding: 0.5rem;
        margin-top: -0.5rem;
        p {
          margin-top: 2rem;
          font-size: 1.3rem;
          span {
            color: var(--primary);
            font-weight: bold;
          }
        }
      }
    }
    .container-user-img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 13rem;
        width: 15rem;
        padding: 0.3rem;
        box-shadow: var(--shadow);
      }
    }
  }
}

.form-title-category {
  font-size: 1.8rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 1rem;
}

#text-info-content {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1rem;
}

#text-info {
  color: var(--danger);
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.text-danger {
  color: var(--danger);
}
