.header-nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#container-user-detail {
  margin-top: 25rem;
  margin-bottom: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-user-name {
  margin-bottom: 1rem;
}

#container-user-img {
  margin-bottom: 3rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  img {
    height: 20rem;
    width: 20rem;
    margin-bottom: -0.4rem;
  }
}

#container-user-profile {
  font-family: var(--form);
  margin-bottom: 3rem;
}

#container-gallery {
  margin-bottom: 3rem;
  fieldset {
    border: 0.1rem solid var(--dark);
    legend {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 3rem;
    }
    ul {
      li {
        height: 9rem;
        width: 10rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: var(--shadow);
      }
    }
  }
}

// JS Start//
.mode-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mode-flex {
  display: flex;
  justify-content: center;
}
// JS End//
