.header-nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#container-user-detail {
  margin-top: 25rem;
  margin-bottom: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-user-name {
  margin-bottom: 1rem;
}

#container-user-img {
  margin-bottom: 3rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  img {
    height: 20rem;
    width: 20rem;
    margin-bottom: -0.4rem;
  }
}

#container-user-profile {
  font-family: var(--form);
  width: 40rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  p span {
    color: var(--primary);
    font-weight: bold;
  }
}

#container-gallery {
  margin-bottom: 3rem;
  fieldset {
    border: 0.1rem solid var(--dark);
    legend {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 3rem;
    }
    ul {
      li {
        width: 10rem;
        padding: 0.2rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: var(--shadow);
        cursor: zoom-in;
        transition: all 0.2s;
        img {
          margin-bottom: -0.4rem;
        }
        &:hover {
          transition: all 0.2s;
          border: 0.1rem solid var(--hint);
        }
      }
    }
  }
}

// js start //
.mode-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mode-flex {
  display: flex;
  justify-content: center;
}

.fieldset-detail {
  border: 0.1rem solid var(--dark);
  padding: 5rem;
  padding-bottom: 11rem;
  legend {
    font-size: 2.3rem;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 5rem;
  }
  .gallery-detail-name {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--primary);
  }
  .gallery-detail {
    box-shadow: var(--shadow);
    padding: 0.5rem;
    img {
      margin-bottom: -0.4rem;
    }
  }
  .container-button {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7rem;
  }
}
// js end //
