main {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 20rem;
    margin-bottom: 20rem;
    max-width: 70rem;
    width: 100%;
    padding: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      margin-bottom: 5rem;
    }
    .form-group {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      input {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      select {
        height: 4rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--divider);
        padding: 0.5rem;
        outline: none;
        border-radius: 0.3rem;
        font-family: var(--basic);
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-category {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      .container-name-category {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        justify-content: space-evenly;
        margin-top: 1rem;
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .button {
        margin-left: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}

// js start
.photo-img-none {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-photo-label-img {
  display: flex;
  justify-content: space-between;
  .container-photo-laber {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container-form-photo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: var(--shadow);
  }
}

.width-select-photographer {
  width: 31.5rem;
}

.container-photographer-label-img {
  display: flex;
  justify-content: space-between;
  .container-photographer-laber {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    box-shadow: var(--shadow);
    height: 14.5rem;
    width: 14.5rem;
    border-radius: 10rem;
    img {
      height: 14rem;
      width: 14rem;
      border-radius: 10rem;
    }
  }
}

.container-content-note {
  margin-top: 1rem;
  .content-note {
    height: 15rem;
    width: 100%;
    padding: 1rem;
    letter-spacing: 0.1rem;
    resize: none;
    font-family: var(--form);
  }
}

// js end

#text-info-category {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}

.form-title-category {
  font-size: 1.8rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 1rem;
}

#text-info-picture {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1.5rem;
}

#text-info-photographer {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}

#text-info-content {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1rem;
}
#text-info {
  color: var(--danger);
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.text-danger {
  color: var(--danger);
}
