@use "../assets/sass/partials/media-queries" as *;

.header-nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 20rem;
    margin-bottom: 20rem;
    max-width: 70rem;
    width: 100%;
    padding: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    @include phone {
      max-width: 37rem;
      padding: 1rem;
    }
    h2 {
      text-align: center;
      margin-bottom: 5rem;
    }
    .form-group {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      input {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      select {
        height: 4rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--divider);
        padding: 0.5rem;
        outline: none;
        border-radius: 0.3rem;
        font-family: var(--basic);
        @include phone {
          width: 35rem;
        }
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-category {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      .container-name-category {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        justify-content: space-evenly;
        margin-top: 1rem;
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
    }
    .form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .button {
        margin-left: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}

// js start //
.flex-column {
  display: flex;
  flex-direction: column;
}

.width-select-photographer {
  width: 31.5rem;
  margin-bottom: 1rem;
}

.container-photographer-label-img {
  display: flex;
  flex-direction: column;
  @include phone {
    display: flex;
  }
  .container-photographer-label {
    display: flex;
    justify-content: space-between;
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #container-img-description-photographer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #container-description-photographer {
      width: 30rem;
      padding: 0.5rem;
      @include phone {
        width: auto;
      }
      p {
        margin-top: 4rem;
        font-size: 1.3rem;
        @include phone {
          margin-top: 1rem;
          width: 35rem;
          margin-left: auto;
          margin-right: auto;
        }
        span {
          color: var(--primary);
          font-weight: bold;
        }
      }
    }
  }
  .container-user-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 14rem;
      width: 14rem;
      padding: 0.3rem;
      box-shadow: var(--shadow);
    }
  }
}

.container-photo-label-img {
  display: flex;
  justify-content: space-between;
  @include phone {
    display: flex;
    flex-direction: column;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  .container-photo-label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container-form-photo-img {
    @include phone {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include tablet {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      box-shadow: var(--shadow);
    }
  }
}

#container-description-content {
  margin-top: 1rem;
  #shallow-content-value {
    border: 0.1rem solid var(--dark);
    border-radius: 0.25rem;
    height: 12rem;
    width: 100%;
    padding: 1rem;
    letter-spacing: 0.1rem;
    p {
      font-family: var(--form);
      font-size: 1.3rem;
      span {
        font-style: italic;
        font-size: 1.2 rem;
        font-weight: bold;
        color: var(--primary);
      }
    }
  }
  .content-note {
    height: 12rem;
    width: 100%;
    padding: 1rem;
    letter-spacing: 0.1rem;
    resize: none;
    font-family: var(--form);
    font-weight: 100;
  }
}

.input-category-definition {
  font-style: italic;
  font-weight: bold;
  span {
    color: var(--primary);
  }
}

.text-definition-guide,
.text-definition-quete,
.text-definition-collection,
.text-definition-partage {
  font-weight: bold;
  color: var(--primary);
}

.text-definition-padding {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
// js end //

.form-title-category {
  font-size: 1.8rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 1rem;
}

#text-info-photographer {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}

#text-info-category {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}

#text-info-picture {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1.5rem;
}

#text-info-content {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1rem;
}
#text-info {
  color: var(--danger);
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.text-danger {
  color: var(--danger);
}
