main {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 20rem;
    margin-bottom: 20rem;
    width: 70rem;
    padding: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      margin-bottom: 5rem;
    }
    .form-picture {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      label {
        border: 0.1rem solid var(--divider);
        border-radius: 0.3rem;
        font-size: 1.2rem;
        height: 4rem;
        display: inline-block;
      }
      input[type="file"] {
        margin-top: -3rem;
      }
      #input-picture {
        opacity: 0%;
      }
      #name-picture {
        position: absolute;
        bottom: 45.5rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        color: var(--info);
        font-weight: bold;
      }
    }
    .form-group {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.8rem;
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      select {
        height: 4rem;
      }
      input {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      textarea {
        border: 0.1rem solid var(--divider);
        padding: 1rem;
        outline: none;
        resize: none;
        border-radius: 0.3rem;
        cursor: default;
        &:focus {
          border-color: var(--primary);
        }
      }
      select {
        height: 4.5rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--divider);
        padding: 0.5rem;
        outline: none;
        border-radius: 0.3rem;
        font-family: var(--basic);
        font-weight: bold;
        &:focus {
          border-color: var(--primary);
        }
      }
      textarea {
        min-height: 20rem;
      }
    }
    .form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .button {
        margin-left: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}

#text-info-category {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}
#text-info-picture {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1.5rem;
}
#text-info-country {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}
#text-info-place {
  color: var(--danger);
  font-weight: 700;
  margin-top: 0.5rem;
}
#text-info-content {
  color: var(--danger);
  font-weight: 700;
  margin-top: 1rem;
}
#text-info {
  color: var(--danger);
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.text-danger {
  color: var(--danger);
}
