.header-nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#container-admin-detail {
  margin-top: 25rem;
  margin-bottom: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-admin-name {
  margin-bottom: 1rem;
}

#container-admin-img {
  margin-bottom: 3rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  img {
    height: 20rem;
    width: 20rem;
    margin-bottom: -0.4rem;
  }
}

#container-admin-profile {
  font-family: var(--form);
  margin-bottom: 3rem;
}

#container-gallery {
  margin-bottom: 3rem;
  fieldset {
    border: 0.1rem solid var(--dark);
    legend {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 3rem;
    }
    ul {
      li {
        height: 9rem;
        width: 10rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: var(--shadow);
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
          border: 0.1rem solid var(--hint);
        }
      }
    }
  }
}

// JS Start//
.mode-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mode-flex {
  display: flex;
  justify-content: center;
}

.fieldset-detail {
  border: 0.1rem solid var(--dark);
  padding: 5rem;
  padding-bottom: 11rem;
  legend {
    font-size: 2.3rem;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 5rem;
  }
}

.gallery-detail {
  box-shadow: var(--shadow);
  padding: 1rem;
  padding-bottom: 4rem;
  p {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--primary);
  }
  .container-button {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
  }
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
}
// JS End//
