/* footer start */
footer {
  height: 8rem;
  background-color: var(--primary);
  color: var(--light);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 2rem;
  width: 2rem;
  margin-bottom: -0.1rem;
}

.j {
  font-family: var(--logo);
  font-size: 2rem;
  color: var(--danger);
}

.e {
  font-family: var(--logo);
  font-size: 2rem;
  color: var(--danger);
}
/* footer end */
