.header-nav {
  padding: 0rem;
}

.separator {
  margin-bottom: 1rem;
  border: 0.01rem solid var(--hint);
}

.container-bottom-menu {
  padding: 0 1rem 1rem 1rem;
  .container-categories-menu {
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}

li {
  color: var(--light);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--basic);
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transition: all 0.2s;
    background-color: var(--secondary);
    color: var(--light);
  }
}

.target-filter {
  background-color: var(--light);
  border-radius: 0.2rem;
  color: var(--primary);
}

header .mobile-menu {
  top: 9.1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#photos-container {
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: 20rem;
  max-width: 140rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-photo-container,
.form-photo-container {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
  h2 {
    color: var(--light);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: absolute;
    opacity: 0;
    bottom: 0.5rem;
    width: 97%;
  }
  &:hover h2 {
    transition: all 0.2s;
    opacity: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }
}
