main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#photos-container {
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: 20rem;
  max-width: 140rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-photo-container,
.form-photo-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
  h2 {
    color: var(--light);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    position: absolute;
    opacity: 0;
    width: 100%;
  }
  &:hover h2 {
    transition: all 0.2s;
    opacity: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }
}
