.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--divider);
  }
}

.button {
  border: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: var(--shadow);
    opacity: 89%;
    transition: box-shadow 0.2s;
  }
  &-add {
    background: var(--primary);
    border: 0.2rem solid var(--primary);
    color: var(--light);
  }
  &-cancel {
    background: var(--light);
    border: 0.2rem solid var(--primary);
    color: var(--primary);
  }
  &-edit {
    margin-right: 2rem;
    background-color: var(--success);
    color: var(--light);
  }
  &-delete {
    margin-right: 2rem;
    background-color: var(--danger);
    color: var(--light);
  }
  &-save {
    background: var(--primary);
    border: 0.2rem solid var(--primary);
    color: var(--light);
  }
  &-detail {
    background: var(--success);
    border: 0.2rem solid var(--success);
    color: var(--light);
  }
  &-back {
    background: var(--danger);
    border: 0.2rem solid var(--danger);
    color: var(--light);
  }
  &-yes {
    background: var(--danger);
    border: 0.2rem solid var(--danger);
    color: var(--light);
  }
  &-no {
    background: var(--success);
    border: 0.2rem solid var(--success);
    color: var(--light);
  }
}

.text {
  &-valid {
    color: var(--success);
    font-weight: bold;
  }
  &-error {
    color: var(--danger);
    font-weight: bold;
  }
  &-detail {
    color: var(--info);
    font-weight: bold;
  }
  &-bold {
    color: var(--dark);
    font-weight: bold;
  }
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    background: white;
    min-width: 30rem;
    border-radius: 3px;
    padding: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    p {
      margin: 1rem 0 3rem 0;
    }
    .button {
      margin-left: 1rem;
    }
  }
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
}
