.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--divider);
  }
}

.button {
  border: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: var(--shadow);
    opacity: 89%;
    transition: box-shadow 0.2s;
  }
  &-primary {
    background: var(--primary);
    border: 0.2rem solid var(--primary);
    color: var(--light);
  }
  &-secondary {
    background: var(--light);
    border: 0.2rem solid var(--primary);
    color: var(--primary);
  }
  &-edit {
    margin-right: 2rem;
    background-color: var(--success);
    color: var(--light);
  }
  &-delete {
    margin-right: 2rem;
    background-color: var(--danger);
    color: var(--light);
  }
}

.text {
  &-valid {
    color: var(--success);
    font-weight: bold;
  }
  &-error {
    color: var(--danger);
    font-weight: bold;
  }
  &-detail {
    color: var(--info);
    font-weight: bold;
  }
}
