@use "base" as *;
@use "classes" as *;
@use "media-queries" as *;
@use "reset" as *;
@use "utils" as *;
@use "variables" as *;

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: var(--success);
  padding: 2rem;
  color: var(--light);
  font-weight: bold;
}

main {
  grid-area: content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--danger);
  color: var(--light);
  a {
    color: var(--light);
  }
}

/* footer start */
footer {
  grid-area: footer;
  padding: 2rem;
  height: 8rem;
  background-color: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

img {
  height: 2rem;
  width: 2rem;
  margin-bottom: -0.1rem;
}

.j {
  font-family: var(--logo);
  color: var(--danger);
}

.e {
  font-family: var(--logo);
  color: var(--danger);
}
/* footer end */
